@page "/studentspage"

<h3> List of Students</h3>
<a href="@($"add")" class="btn btn-outline-info"> Create New</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th> NIM</th>
            <th> Nama Belakang</th>
            <th> Nama Depan</th>
            <th> Tanggal Masuk</th>
        </tr>
    </thead> 
    <tbody>
        @foreach(var st in Students) {
            <tr>
                <td>@st.studentID</td>
                <td>@st.lastName</td>
                <td>@st.firstName</td>
                <td>@st.enrollmentDate</td>
                <td> 
                    <a href="@($"studentdetail/{st.studentID}")" class="btn btn-info"> Details</a>
                    <a href="@($"enroll/{st.studentID}")" class="btn btn-primary"> Enroll</a>
                    <a href="@($"edit/{st.studentID}")" class="btn btn-success"> Edit</a>
                    <a href="@($"delete/{st.studentID}")" class="btn btn-danger"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>